<!-- templates/_base.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin's Try1</title>
    <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
    <main>
        <section class="glass">
            <div class="dashboard">
                <div class="Card1">
                    <h3>Card1</h3>
                    <p>Area1</p>
                </div>
            </div>
            <div class="dashboard2">
                <div class="Card2">
                    <h3>Card2</h3>
                    <p>Area 2</p>
                </div>
            </div>
        </section>
    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>
</body>

</html>