<!-- templates/_base.html-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin's Try1</title>
    <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
    <main>
        <section class="glass">
            <div class="dashboard">
                <div class="user">
                    <h3>Card1</h3>
                    <p>Pro Coder</p>
                </div>
                <div class="links">
                    <div class="link">
                        <h2>Fun</h2>
                    </div>
                    <div class="link">
                        <h2>Fun</h2>
                    </div>
                    <div class="link">
                        <h2>Fun</h2>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>
</body>

</html>